<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Check_Up.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Check_Up.Properties.Settings>
            <setting name="CPU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Memory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Network" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiskIO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PollingTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PollingInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VisiblePoints" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IgnoreTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AmountProcesses" serializeAs="String">
                <value>5</value>
            </setting>
        </Check_Up.Properties.Settings>
    </userSettings>
    <log4net>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="${LOCALAPPDATA}\Check_Up\Logs\rolling-log-" />
        <appendToFile value="true" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="100KB" />
        <rollingStyle value="Date" />
        <datePattern value="yyyy-MM-dd.'log'" />
        <staticLogFileName value="false" />
        <layout type="log4net.Layout.PatternLayout">
          <header value="[Check Up Started]&#xD;&#xA;" />
          <footer value="[Check Up Closed]&#xD;&#xA;" />
          <conversionPattern value="%date %-5level %logger - %message%newline" />
        </layout>
      </appender>
      <root>
        <level value="ALL" />
        <appender-ref ref="RollingFileAppender"/>
      </root>
    </log4net>
</configuration>