<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.4" targetFramework="net45" />
  <package id="Hammer.SpinningWheel" version="2.0" targetFramework="net45" />
  <package id="IronPython" version="2.7.5" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
</packages>